// colors - dark /shrug
$color-primary: #1D1F21;
$color-secondary: #4F7CAC;
$color-tertiary: #C0E0DE;
$color-quaternary: #9EEFE5;
$color-quinary: #FB6376;

$font-color-primary: #FFFFFF;
$font-color-secondary: #000000;
